@import "tailwindcss";

@theme {
  --color-background: var(--color-white);
  --color-foreground: var(--color-neutral-800);

  --color-primary: var(--color-blue-500);
  --color-primary-foreground: var(--color-white);
  --color-secondary: var(--color-neutral-100);
  --color-secondary-foreground: var(--color-neutral-800);

  --color-border: var(--color-neutral-200);
  --color-surface: var(--color-neutral-100);
  --color-surface-foreground: var(--color-neutral-800);

  --color-error: var(--color-red-600);
  --color-error-foreground: var(--color-white);
  --color-success: var(--color-green-600);
  --color-success-foreground: var(--color-white);
  --color-warning: var(--color-amber-500);
  --color-warning-foreground: var(--color-white);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --shape: round;
  --radius: 0.625rem; /* 10px */

  --radius-xs: calc(var(--radius) - 6px); /* 4px */
  --radius-sm: calc(var(--radius) - 4px); /* 6px */
  --radius-md: calc(var(--radius) - 2px); /* 8px */
  --radius-lg: var(--radius); /* 10px */
  --radius-xl: calc(var(--radius) + 6px); /* 16px */
  --radius-2xl: calc(var(--radius) + 10px); /* 20px */
  --radius-3xl: calc(var(--radius) + 16px); /* 26px */
  --radius-4xl: calc(var(--radius) + 22px); /* 32px */
}

.dark {
  --color-background: var(--color-black);
  --color-foreground: var(--color-neutral-400);

  --color-primary: var(--color-blue-500);
  --color-primary-foreground: var(--color-white);
  --color-secondary: var(--color-neutral-900);
  --color-secondary-foreground: var(--color-neutral-200);

  --color-border: var(--color-neutral-800);
  --color-surface: var(--color-neutral-900);
  --color-surface-foreground: var(--color-neutral-200);

  --color-error: var(--color-red-600);
  --color-error-foreground: var(--color-white);
  --color-success: var(--color-green-600);
  --color-success-foreground: var(--color-white);
  --color-warning: var(--color-amber-500);
  --color-warning-foreground: var(--color-white);
}

@layer base {
  * {
    border-color: var(--color-border);
    outline-color: var(--color-primary);
    @apply focus-visible:ring-primary/50 outline-none focus-visible:ring-3;
  }

  body {
    @apply bg-background text-foreground relative antialiased;
  }

  .root {
    @apply isolate;
  }
}
