@import "tailwindcss";
@import "./slot-ui.css";

@theme {
  --header-height: calc(var(--spacing) * 14);
  --sidebar-width: calc(var(--spacing) * 50);
}

@utility container {
  max-width: 90rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  [data-rehype-pretty-code-figure] pre,
  [data-rehype-pretty-code-figure] code,
  [data-rehype-pretty-code-figure] code span {
    color: var(--shiki-light);
    background-color: var(--background);
  }

  .dark [data-rehype-pretty-code-figure] pre,
  .dark [data-rehype-pretty-code-figure] code,
  .dark [data-rehype-pretty-code-figure] code span {
    color: var(--shiki-dark);
    background-color: var(--background);
  }
}
