@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--color-white);
  --color-foreground: var(--color-neutral-800);

  --color-card: var(--color-white);
  --color-card-foreground: var(--color-neutral-800);
  --color-popover: var(--color-white);
  --color-popover-foreground: var(--color-neutral-800);

  --color-primary: var(--color-neutral-950);
  --color-primary-foreground: var(--color-white);
  --color-secondary: var(--color-neutral-100);
  --color-secondary-foreground: var(--color-neutral-800);

  --color-muted: var(--color-neutral-100);
  --color-muted-foreground: var(--color-neutral-600);
  --color-accent: var(--color-neutral-100);
  --color-accent-foreground: var(--color-neutral-800);

  --color-border: var(--color-neutral-200);
  --color-input: var(--color-neutral-200);
  --color-ring: color-mix(in srgb, var(--color-neutral-950) 15%, transparent);

  --color-destructive: var(--color-red-500);
  --color-destructive-foreground: var(--color-red-800);
  --color-success: var(--color-green-600);
  --color-success-foreground: var(--color-green-800);
  --color-warning: var(--color-amber-500);
  --color-warning-foreground: var(--color-amber-800);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --shape: round; /* round | square | squircle */
  --radius: 0.625rem; /* 10px */

  --radius-xs: calc(var(--radius) - 6px); /* 4px */
  --radius-sm: calc(var(--radius) - 4px); /* 6px */
  --radius-md: calc(var(--radius) - 2px); /* 8px */
  --radius-lg: var(--radius); /* 10px */
  --radius-xl: calc(var(--radius) + 6px); /* 16px */
  --radius-2xl: calc(var(--radius) + 10px); /* 20px */
  --radius-3xl: calc(var(--radius) + 16px); /* 26px */
  --radius-4xl: calc(var(--radius) + 22px); /* 32px */
  --radius-full: calc(var(--radius) * infinity); /* infinity */
}

.dark {
  --color-background: var(--color-neutral-950);
  --color-foreground: var(--color-neutral-200);

  --color-card: var(--color-neutral-950);
  --color-card-foreground: var(--color-neutral-200);
  --color-popover: var(--color-neutral-950);
  --color-popover-foreground: var(--color-neutral-200);

  --color-primary: var(--color-neutral-50);
  --color-primary-foreground: var(--color-neutral-950);
  --color-secondary: var(--color-neutral-800);
  --color-secondary-foreground: var(--color-neutral-200);

  --color-muted: var(--color-neutral-800);
  --color-muted-foreground: var(--color-neutral-400);
  --color-accent: var(--color-neutral-800);
  --color-accent-foreground: var(--color-neutral-200);

  --color-border: var(--color-neutral-800);
  --color-input: var(--color-neutral-800);
  --color-ring: color-mix(in srgb, var(--color-neutral-50) 20%, transparent);;

  --color-destructive: var(--color-red-500);
  --color-destructive-foreground: var(--color-red-500);
  --color-success: var(--color-green-500);
  --color-success-foreground: var(--color-green-500);
  --color-warning: var(--color-amber-500);
  --color-warning-foreground: var(--color-amber-500);
}

@supports (corner-shape: round) {
  :root {
    --shape: squircle;
    --radius: 3rem;
  }
}

@utility corner-shape {
  corner-shape: var(--shape);
}

@utility rounded-container {
  border-radius: var(--radius-lg);
  @supports (border-radius: if(style(--shape: squircle): 0)) {
    border-radius: if(style(--shape:squircle):1.5rem;else:var(--radius-lg));
  }
}

@utility rounded-card {
  border-radius: var(--radius-xl);
  @supports (border-radius: if(style(--shape: squircle): 0)) {
    border-radius: if(style(--shape:squircle):1.75rem;else:var(--radius-xl));
  }
}

@utility rounded-accordion {
  border-radius: var(--radius-lg);
  @supports (border-radius: if(style(--shape: squircle): 0)) {
    border-radius: if(style(--shape:squircle):1.5rem;else:var(--radius-lg));
  }
}

@utility rounded-tabs {
  border-radius: var(--radius-md);
  @supports (border-radius: if(style(--shape: squircle): 0)) {
    border-radius: if(style(--shape:squircle):1.25rem;else:var(--radius-md));
  }
}

@utility rounded-popover {
  border-radius: var(--radius-xl);
  @supports (border-radius: if(style(--shape: squircle): 0)) {
    border-radius: if(style(--shape:squircle):2rem;else:var(--radius-xl));
  }
}

@utility rounded-dialog {
  border-radius: var(--radius-xl);
  @supports (border-radius: if(style(--shape: squircle): 0)) {
    border-radius: if(style(--shape:squircle):2.375rem;else:var(--radius-xl));
  }
}

@layer base {
  * {
    border-color: var(--color-border);
    outline-color: var(--color-primary);
    @apply focus-visible:ring-ring outline-none focus-visible:ring-3;
  }

  body {
    @apply bg-background text-foreground relative antialiased;
  }

  .root {
    @apply isolate;
  }
}
